@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="headerPanel">
    <div>
        <h1>EZcommerce</h1>
        <p><i>Where commerce is easy, you buy easy... or something like that.</i></p>
    </div>

</div>


@foreach (Product product in Model)
{
    <div>
        <h5>@product.Name</h5>
        <p>$@product.Price</p>
        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id=@product.Id>Details</a>

    </div>
}
