@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="headerPanel">
    <div>
        <h1>EZcommerce</h1>
        <p><i>Where commerce is easy, you buy easy... or something like that.</i></p>
    </div>

</div>
<br />
<h5 style="padding-left:10px">Newest Items:</h5>
<hr />

<div class="gridParent">
@foreach (Product product in Model)
{
    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id=@product.Id style="text-decoration:none; color:inherit">
    <div class="gridItem">
        <div class="pictureBox"><h2>No picture</h2></div>
        <h5><u>@product.Name</u></h5>
        <p>$@product.Price</p>
        

    </div>
    </a>
}
</div>