@model ProductCreateViewModel
<div class="headerPanel2">
    <h1>Add Product</h1>
</div>
<br />
<div class="flexCenter">
    <div class="whitePanelCard cardType2">
        <form  asp-area="Admin" asp-controller="Product" asp-action="Create" method="POST">
            <div >
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        
            <div >
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div >
                <label asp-for="Price"></label>
                <input asp-for="Price" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            
            <div >
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            
            <div >
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" asp-items=@ViewBag.Categories>
                </select>
            </div>
            
            <div >
                <label asp-for="InventoryQuantity"></label>
                <input asp-for="InventoryQuantity" type="number" class="form-control" />
                <span asp-validation-for="InventoryQuantity" class="text-danger"></span>
            </div>

                <br />
                <button class="btn btn-primary customButton1" type="submit">Submit</button>
        </form>
    </div>
</div>

