@using EZcommerce.Web.Models
@model List<EZcommerce.Web.Models.Product>

<div class="headerPanel">
    <h1>Product Dashboard</h1>
</div>

<div style="padding:20px">
    <table class="table table-sm">
        <thead class="table-info">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price($)</th>
                <th scope="col">QTY</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Inventory!.Quantity</td>
                    <td>Edit | Delete</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div class="flexCenter">
    <a asp-area="admin" asp-controller="Product" asp-action="Create">
    <button class="btn btn-primary customButton1">Add Product</button>
    </a>
</div>

