html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.headerPanel {
  background: #0275BC;
  background: linear-gradient(90deg, rgba(2, 117, 188, 1) 25%, rgba(2, 159, 181, 1) 50%, rgba(2, 193, 171, 1) 75%);
  text-shadow: 2px 4px 7px #000000;
  color: white;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.headerPanel2 {
  background-color: #0275BC;
  text-shadow: 2px 4px 2px #000000;
  color: white;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gridParent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.gridItem {
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gridItem:hover{
  background-color: rgb(234, 239, 245); 
}

.pictureBox{
  width:200px;
  height:200px;
  background-color:rgb(212, 227, 239);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenter{
  display:flex;
  justify-content:center;
}

.whitePanelCard {
  border: 1px solid #b1d4ea;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgb(231, 234, 234);
  color:#173453;
  padding:20px;
}

.cardType1 {
  width:50%; 
  display:flex;
}

.cardType2 {
  width:50%; 
  text-align: center;
}

@media (max-width: 768px) {
  .cardType1 {
    width:95%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cardType2{
    width:95%;
  }
}

.shoppingCartSection{
display:flex; 
flex-direction:row;
}
.shoppingCartSection span{
  color:#173453;
}

.inStock{
  background-color:rgb(141, 255, 192);
  border-radius: 2px;
  width: 150px;
  text-align: center;
  padding:5px;
  margin-left:5px;
}

.outStock{
  background-color:rgb(243, 64, 64);
  color:white;
  border-radius: 2px;
  width: 150px;
  text-align: center;
  padding:5px;
  margin-left:5px;
}

.customButton1{
  background-color: rgba(2, 159, 181, 1);
  border: rgba(2, 159, 181, 1);
}
.customButton1:disabled{
  background-color: rgb(119, 212, 225);
  border: rgb(119, 212, 225);
}

.dashboardPanel{
  width:200px; 
  height:100px; 
  background-color:rgb(213, 231, 246);
  border-radius: 5px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color:#173453;
}
.dashboardPanel:hover{
  background-color:rgb(78, 133, 179);
  color:white;
}