html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.headerPanel {
  background: #0275BC;
  background: linear-gradient(90deg, rgba(2, 117, 188, 1) 25%, rgba(2, 159, 181, 1) 50%, rgba(2, 193, 171, 1) 75%);
  text-shadow: 2px 4px 7px #000000;
  color: white;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gridParent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.gridItem {
  text-decoration: none;
  align-items: center;
  border: 2px solid rgb(209, 224, 239);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.gridItem:hover{
  background-color: rgb(234, 239, 245);
}

.pictureBox{
  width:200px;
   height:200px;
    background-color:rgb(212, 227, 239);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}