@using EZcommerce.Web.Models.Session
@using System.Text.Json
@model List<EZcommerce.Web.Models.Session.CartItem>

<h1>Shopping Cart</h1>
<hr />

@foreach (CartItem cartItem in Model)
{
    <h5>@cartItem.Name</h5>
    <p>$@cartItem.PriceSnapshot Quantity: @cartItem.Quantity</p>
    <a asp-controller="Cart" asp-action="Remove" asp-route-id=@cartItem.ProductId>Remove</a>
}
<br />

<button class="btn btn-primary" id="checkoutButton">Checkout</button>
<script>
    const cartItems = @Html.Raw(JsonSerializer.Serialize(Model));

    document.querySelector("#checkoutButton").addEventListener("click", event => {
        // display load circle on page
        fetch('/Checkout/CreateSession', {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body : JSON.stringify(cartItems)
        }).then(async response => {
            if (!response.ok){
                const errorData = await response.text();
                throw new Error(errorData);
            }
                
            return response.json();
        }).then(data => {
            console.log("data received", data);
            window.location = data.url;
        }).catch(error => {
            console.log("Fetch failed: ", error.message);
            // maybe redirect to error page, or display error
        })
    });
        
</script>