@using EZcommerce.Web.Models.Session
@using System.Text.Json
@model List<EZcommerce.Web.Models.Session.CartItem>

<div class="headerPanel">
    <h1>Shopping Cart</h1>
</div>
<br />

<div class="panelCard1Parent">
    <div class="panelCard2">
        @foreach (CartItem cartItem in Model)
        {
            <div style="display:flex;">
                <h5 style="display:inline-block; flex-grow:1">@cartItem.Name</h5>
                <p style="display:inline-block; flex-grow:1">$@cartItem.PriceSnapshot Quantity: @cartItem.Quantity</p>
                <a asp-controller="Cart" asp-action="Remove" asp-route-id=@cartItem.ProductId>Remove</a>
            </div>
        }
        <hr/>
        <div style="display:flex; justify-content:center">
         
            <button class="btn btn-primary" id="checkoutButton">Checkout</button>
        </div>
    </div>
</div>

<script>
    const cartItems = @Html.Raw(JsonSerializer.Serialize(Model));

    document.querySelector("#checkoutButton").addEventListener("click", event => {
        // display load circle on page
        fetch('/Checkout/CreateSession', {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(cartItems)
        }).then(async response => {
            if (!response.ok) {
                const errorData = await response.text();
                throw new Error(errorData);
            }
                
            return response.json();
        }).then(data => {
            console.log("data received", data);
            window.location = data.url;
        }).catch(error => {
            console.log("Fetch failed: ", error.message);
            alert(`Error: ${error.message}. Removing everything from cart.`);
            location.reload();
            // maybe redirect to error page, or display error
        })
    });
        
</script>