@using EZcommerce.Web.Models.Session
@using System.Text.Json
@model List<EZcommerce.Web.Models.Session.CartItem>

<div class="headerPanel">
    <h1>Shopping Cart</h1>
</div>
<br />

<div class="flexCenter">
    <div class="cardType2 whitePanelCard">
        @foreach (CartItem cartItem in Model)
        {
            <div style="display:flex;">
                <h5 style="width:33%">
                    <a
                        asp-controller="Home"
                        asp-action="ProductDetails"
                        asp-route-id=@cartItem.ProductId
                        >
                        @cartItem.Name
                    </a>
                    
                </h5>
                <p style="width:33%">$@cartItem.PriceSnapshot Qty: @cartItem.Quantity</p>
                <div style="width:33%">
                    <span class="material-symbols-outlined">
                        <a asp-controller="Cart" asp-action="Remove" asp-route-id=@cartItem.ProductId>
                            delete
                        </a>
                    </span>
                </div>
            </div>
        }
        <hr />
        <p>Total Amount: $@Model.Sum(i => i.PriceSnapshot * i.Quantity)</p>
        <hr />
        <div class="flexCenter">
            <button class="btn btn-primary" id="checkoutButton">Checkout</button>
        </div>
    </div>
</div>

<script>
    const cartItems = @Html.Raw(JsonSerializer.Serialize(Model));

    document.querySelector("#checkoutButton").addEventListener("click", event => {
        // display load circle on page
        fetch('/Checkout/CreateSession', {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(cartItems)
        }).then(async response => {
            if (!response.ok) {
                const errorData = await response.text();
                throw new Error(errorData);
            }
                
            return response.json();
        }).then(data => {
            console.log("data received", data);
            window.location = data.url;
        }).catch(error => {
            console.log("Fetch failed: ", error.message);
            alert(`Error: ${error.message}. Removing everything from cart.`);
            location.reload();
            // maybe redirect to error page, or display error
        })
    });
        
</script>