
<div class="headerPanel">
    <h1>Cancelled Purchase</h1>
</div>
<br />
<div class="flexCenter">
    <div class="cardType2 whitePanelCard">
        <h5>Your Order was cancelled</h5>
        <hr/>
        <p></p>
        <a 
            asp-controller="Home"
            asp-action="Index"
        >
        <button class="btn btn-primary">Home</button>
        </a>
    </div>
</div>